p {
  font-family: gilroy-bold;
}

.navbar {
  background-color: white;
  height: 130px;
  max-width: 100vw;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.collapse.show {
  padding-top: 100px;
  height: 60vh;
  background-color: white;
}
.collapse.show ul li {
  padding: 20px;
}

.navbar-nav .nav-link {
  color: #0b6b9b !important;
  font-family: gilroy-bold;
  font-weight: 600;
  font-size: 18px;
}

.navbar-brand {
  margin-left: 100px;
}

.bg-purple {
  background-color: #f8f8f8;
}

.btn {
  border-radius: 1rem !important;
}

.btn-warning {
  background-color: #fb9f00;
  padding-right: 35px;
  padding-left: 35px;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2-h2 {
  margin-top: 100px;
  color: #6a4fa4;
  text-align: center;
  font-weight: 600;
  max-width: 700px;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.section2 .card1 {
  background: rgb(82, 24, 202);
  background: linear-gradient(0deg, rgb(82, 24, 202) 0%, rgba(116, 53, 249, 0.9093838219) 35%, rgba(116, 53, 249, 0.9457983877) 100%);
}
.section2 .card2 {
  background: rgb(71, 188, 255);
  background: linear-gradient(180deg, rgb(71, 188, 255) 0%, rgb(71, 163, 255) 35%, rgba(71, 163, 255, 0.9570028695) 100%);
}

.section2-card {
  text-align: center;
  padding: 20px;
  max-width: 300px;
  height: 270px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;
}
.section2-card h3 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 10px;
}
.section2-card p {
  color: white;
  height: 80px;
  font-size: 1.2rem;
}
.section2-card span {
  font-size: 1.5rem;
  color: white;
}

.section3 {
  background-image: url(/images/section3.png?8d7bc2dc37f49e5d0b9c9ad6f994aaf5);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  z-index: 1;
}
.section3 h3 {
  color: #6acff9;
  font-size: 2rem;
  padding-top: 150px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 600;
}

.section3 .container {
  max-width: 500px;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 500;
  text-align: left;
}
.section3 .container p {
  color: #0b6b9b !important;
  font-size: 1.3em;
}
.section3 .container b {
  color: #0f5f84;
}
.section3 .container mark {
  background-color: rgba(173, 233, 255, 0.6745098039);
  color: #84b2c2;
}

.section3-molecule {
  margin-left: 100px;
  z-index: 2;
  position: absolute;
  top: 190%;
}

.section4 {
  margin-top: 100px;
}
.section4 h3 {
  color: #6acff9;
  font-size: 1.7rem;
  font-weight: 600;
  max-width: 600px;
  margin: auto;
  text-align: center;
}
.section4 h4 {
  margin-top: 20px;
}
.section4 .container .section4-row .section4-card {
  margin-top: 20px;
  height: 400px;
  margin: 20px;
  border-radius: 15px;
  padding: 30px;
}
.section4 .container .section4-row .section4-card .paraph p {
  color: white;
  font-size: 1.6rem;
}
.section4 .container .section4-row .card1 {
  background-image: url(/images/section4-card1.jpg?bb34306a872a2a52addc0e3558b8e9b9);
  background-size: cover;
}
.section4 .container .section4-row .card1 h4 {
  color: #eeff34;
}
.section4 .container .section4-row .card2 {
  background-image: url(/images/section4-card2.jpg?52a716b37dfd4ca6edd244dd00ceb155);
  background-size: cover;
}
.section4 .container .section4-row .card2 h4 {
  color: #dfbb38;
}

.section4-rows-icon {
  width: 30px;
  text-align: start !important;
}

.section4-girl {
  z-index: 2;
  position: relative;
  bottom: 40px;
  margin-left: 22%;
}

footer {
  padding: 100px;
  background-color: #ebebeb;
  height: 200px;
}
footer p {
  color: #0b6b9b;
  font-size: 0.7rem;
  width: 600px;
  line-height: 0.7em;
  margin-left: 300px;
}
footer .container-icons {
  max-width: 300px;
}

.social-icon {
  width: 20px;
}

@media screen and (max-width: 1600px) {
  .section3 {
    height: 90vh;
    background-position: center;
  }

  .section3-molecule {
    top: 230% !important;
  }

  .section4-girl {
    z-index: 2;
    position: relative;
    bottom: 45px;
    margin-left: 17%;
  }
}
@media screen and (max-width: 1400px) {
  .section3 {
    height: 90vh;
    background-position: center;
  }

  .section3-molecule {
    top: 250% !important;
  }

  .section4-girl {
    z-index: 2;
    position: relative;
    bottom: 45px;
    margin-left: 17%;
  }
}
@media screen and (max-width: 500px) {
  .section2-card {
    height: 300px;
    padding: 10px;
  }
  .section2-card p {
    color: white;
    height: 100px;
  }

  .section3 {
    max-height: 200vh;
    min-height: 130vh;
    padding: 20px;
  }

  .section3-molecule {
    display: none;
  }

  footer {
    padding: 30px;
  }
  footer div b p {
    margin-left: 0px;
    text-align: left;
  }

  .collapse.show {
    padding-top: 100px;
    max-height: 200vh;
    background-color: white;
  }
  .collapse.show ul li {
    padding: 15px;
    width: 300px !important;
  }
  .collapse.show ul li:hover {
    background-color: #0f5f84;
  }
  .collapse.show ul li:hover a {
    color: white !important;
  }
}
